<%- include ('partials/header') %>

<div class="order-wrapper">
    <div><h1>สั่งอาหาร</h1></div>

    <div class="order-menu">
<% if (foods.length > 0){%>
    <% foods.forEach((food)=> { %>
        
        <div class="order-menu">
            <div class="order">
                    <div class="img">
                        <img src="<%=food.img%>" alt="">
                    </div>
                    <div class="message">
                      <p><%=food.name%></p>
                      <p>ราคา <%=food.price%> บาท</p>
                      <p>จำนวน <input type="number" /> บาท</p>
                    </div>
            </div>
        </div>

    <%}) %>  <!--end foreach-->

<% } else {%> <!--else-->

    <h1>MENU NOT FOUND</h1>

<% } %> <!-- end if / else-->
</div>
</div>

<a class="cart" href="#cart">ไปที่ตะกร้า</a>



  
        <form action="#" id="cart">
           <h1>สรุปรายการ</h1>
               <table>
                   <tr>
                       <th class="name">ชื่อเมนู</th>
                       <th class="price">ราคา</th>
                       <th class="qty">ชิ้น</th>
                       <th class="total">รวมราคา(บาท)</th>
                   </tr>
                   <!-------------------End table head------------------>
                   <tr id="list">
                        <td class="name">mock up</td>
             </div>
                  
        
        
        <td class="price">ราคา</td>
                        <td class="qty">ชิ้น</td>
                        <td class="total">รวมราคา(บาท)</td>
                    </tr>
                    <tr id="list">
                        <td class="name">mock up</td>
                        <td class="price">ราคา</td>
                        <td class="qty">ชิ้น</td>
                        <td class="total">รวมราคา(บาท)</td>
                    </tr>
                    <tr id="list">
                        <td class="name">mock up</td>
                        <td class="price">ราคา</td>
                        <td class="qty">ชิ้น</td>
                        <td class="total">รวมราคา(บาท)</td>
                    </tr>

               </table>
               <div class="button">
                <button onclick="">ยืนยัน</button>
</div>
</form>  
<%- include ('partials/footer') %>