<%- include ('partials/header') %>

<div class="order-wrapper">
    <div><h1>สั่งอาหาร</h1></div>

    <div class="order-menu">
<% if (foods.length > 0){%>
    <% foods.forEach((food)=> { %>
        
        <div class="order-menu">
                        <div class="order">
                                <div class="img">
                                    <img src="<%=food.img%>" alt="">
                                </div>
                                <div class="message">
                                  <p> <span id="name"><%=food.name%></span></p>
                                  <p>ราคา <span id="price"><%=food.price%></span> บาท</p>
                                  <p>จำนวน <input type="number"/> บาท</p>
                                </div>
                        </div>
        </div>

    <%}) %>  <!--end foreach-->

<% } else {%> <!--else-->

    <h1>MENU NOT FOUND</h1>

<% } %> <!-- end if / else-->
</div>
</div>

<a class="cart" href="#cart">ไปที่ตะกร้า</a>
        <form  id="cart">
           <h1>สรุปรายการ</h1>
               <table>
                   <tr>
                       <th class="name">ชื่อเมนู</th>
                       <th class="price">ราคา</th>
                       <th class="qty">ชิ้น</th>
                       <th class="total">รวมราคา(บาท)</th>
                   </tr>
                   <!-------------------End table head------------------>
                   <tbody id="list-container"></tbody>
               </table>
               <div class="button"> 
                  <button id="confirm" type="menu">confirm</button>
</div>
</form>

<script defer>
    const MenuContainer = document.querySelector('#list-container')    
    const Values = document.querySelectorAll('input');
    const confirm = document.querySelector('#confirm');


    confirm.addEventListener('click',gotoConfirm)
    
    function deleteFromList(DeleteName,Lists)
    {
        for(let i=0;i<Lists.length;i++)
        {
            let CurrentItem = Lists[i].querySelector('td.name')
            let name = CurrentItem.innerHTML
            if(name === DeleteName) {
                CurrentItem.parentElement.remove()
            }
        }
        return true;
    }

    function gotoConfirm()
    { 
        const Lists = MenuContainer.querySelectorAll('tr')
        let ordersParams = [];
        for(let i=0;i<Lists.length;i++)
        {
            const paramsHold = {
                name : Lists[i].querySelector('td.name').innerHTML,
                price : Number(Lists[i].querySelector('td.price').innerHTML),
                qty : Number(Lists[i].querySelector('td.qty').innerHTML),
                total : Number(Lists[i].querySelector('td.total').innerHTML),
                }

            ordersParams.push(paramsHold)
            console.log(ordersParams)
            
        }
        localStorage.clear()
        localStorage.setItem('lists',JSON.stringify(ordersParams))
        window.location.href = "/order/confirm";
        
    
    }

//////////////////////////////////////////////////////
    Values.forEach((Value)=>
    {
        Value.addEventListener('input',()=>
        {
            const ExistingList = MenuContainer.querySelectorAll('tr')
            if(Value.value < 1) {
                    Value.value = 0 ;
                    if(ExistingList.length>0) 
                    {
                    let DeleteName = Value.parentElement.parentElement.querySelector('span#name').innerHTML;
                    deleteFromList(DeleteName,ExistingList)
                    }
                    return
            }
            name = Value.parentElement.parentElement.querySelector('span#name').innerHTML
            qty = Number(Value.value)
            if(!checkExisting(ExistingList,name,qty)) return
            price = Number(Value.parentElement.parentElement.querySelector('span#price').innerHTML)
            total = price*qty;
            const list = document.createElement('tr')
            list.id = 'list'
            list.innerHTML = `<td class="name" value="${name}" name="name">${name}</td>
                              <td class="price" value="${price}" name="price">${price}</td>
                              <td class="qty" value="${price}" name="qty">${qty}</td>
                              <td class="total" value="${total}" name="total">${total}</td>
                              `
            MenuContainer.appendChild(list)
            
        })
    })
    
    function checkExisting(Lists,NewItem,qty)
    {
        for(let i=0;i<Lists.length;i++)
        {
            let name = Lists[i].querySelector('td.name').innerHTML
            let price = Number(Lists[i].querySelector('td.price').innerHTML)
            if(name === NewItem) {
                Lists[i].querySelector('td.qty').innerHTML = qty;
                Lists[i].querySelector('td.qty').value = qty;
                Lists[i].querySelector('td.total').innerHTML = qty*price
                Lists[i].querySelector('td.total').value = qty*price
                console.log(Lists[i].querySelector('td.total').innerHTML)
                return;
            }
        }
        return true;
    };
    

</script>
<%- include ('partials/footer') %>